<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Users</title>
    <style>table th, table td {
        padding: 10px;
    }</style>
</head>
<body>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Password</th>
        <th>Email</th>
        <th>Role</th>
    </tr>

    <tr th:each="user : ${user_info}">
        <td th:utext="${user.getUsername()}">
        <td th:utext="${user.getPassword()}">
        <td th:utext="${user.getEmail()}">
        <td th:utext="${user.getRoles()}">
    </tr>

</table>

<br>
<input type="button" value="Logout" onclick="window.location.href = '/logout'">


</body>
</html>