<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Control Users</title>

</head>
<body>

<style type="text/css">
    body {
        background: whitesmoke !important;
    }
</style>


<header>
    <div>
        <nav class="navbar navbar-light bg-dark">
            <a class="navbar-brand">
                <div class="container">
                    <div class="row">
                        <div th:object="${user}" class="col-sm text-light bg-dark">
                            <b><span th:text="${user.getEmail()}">user</span></b>
                            <span>with roles:</span>
                            <th:block th:each="role : ${user.getRoles()}">
                                            <span th:switch="${role.getName()}">
                                             <span th:case="'ROLE_ADMIN'">ADMIN</span>
                                               <span th:case="'ROLE_USER'">USER</span>
                                                <span th:case="'ROLE_MANAGER'">MANAGER</span>
                                                    </span>
                            </th:block>
                        </div>

                    </div>
                </div>
            </a>
            <div class="col-sm-20">
                <div>
                    <form class="d-flex" action="/logout" method="post">
                        <button class="btn btn-dark text-secondary" type="submit"><strong>Logout</strong></button>
                    </form>
                </div>
            </div>
        </nav>
    </div>
</header>

<!--<Admin/User>-->

<div class="row mt-3">
    <div class="col-2">
        <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active " id="list-home-list" data-toggle="list"
               href="#list-home" role="tab" aria-controls="home">Admin</a>
            <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list"
               href="#list-profile" role="tab" aria-controls="profile">User</a>


        </div>
    </div>
    <div class="col-8 ">
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">

                <p>
                <h1>Admin page</h1></p>

                <!-- User table/New user -->
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                           aria-controls="home" aria-selected="true">User table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                           aria-controls="profile" aria-selected="false">New User</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">

                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="container-fluid border">
                            <p><h4>All Users</h4></p>
                        </div>

                        <table class="table table-striped bg-white border">

                            <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Username</th>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Age</th>
                                <th scope="col">Email</th>
                                <th scope="col">Role</th>
                                <th scope="col">Edit</th>
                                <th scope="col">Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            <div id="userID" th:each="user : ${users}">
                                <tr>
                                    <th scope="row"><span th:text="${user.getId()}">user id</span></th>
                                    <td><span th:text="${user.getUsername()}">username</span></td>
                                    <td><span th:text="${user.getFirstName()}">First Name</span></td>
                                    <td><span th:text="${user.getLastName()}">Last Name</span></td>
                                    <td><span th:text="${user.getAge()}">Age</span></td>
                                    <td><span th:text="${user.getEmail()}">email</span></td>
                                    <td>
                                        <th:block th:each="role : ${user.getRoles()}">
                                            <span th:switch="${role.getName()}">
                                             <span th:case="'ROLE_ADMIN'">ADMIN</span>
                                               <span th:case="'ROLE_USER'">USER</span>
                                                <span th:case="'ROLE_MANAGER'">MANAGER</span>
                                                    </span>
                                        </th:block>
                                    </td>
                                    <td>

                                        <!-- Edit user -->
                                        <button type="button" class="btn btn-info" data-toggle="modal"
                                                th:data-target="${'#Modal' + user.id}" data-whatever="@userID">
                                            Edit
                                        </button>
                                        <div class="modal fade" th:id="${'Modal' + user.id}" tabindex="-1"
                                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Edit user</h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form th:method="PATCH" th:action="@{/admin/updateInfo}"
                                                              th:object="${edit_user}">
                                                            <div class="form-group">
                                                                <p class="text-center"><b><label for="first_name2">ID</label></b></p>
                                                                <input type="number" class="form-control" id="id"
                                                                       name="id" th:value="${user.getId()}"
                                                                       th:placeholder="${user.id}" readonly>
                                                            </div>
                                                            <div class="form-group">
                                                                <p class="text-center"><b><label for="first_name2">First name</label></b></p>
                                                                <input type="text" class="form-control" name="firstName"
                                                                       id="firstName" th:value="${user.getFirstName()}"
                                                                       th:placeholder="${user.firstName}">
                                                            </div>
                                                            <div class="form-group">
                                                                <p class="text-center"><b><label for="first_name2">Last name</label></b></p>
                                                                <input type="text" class="form-control" name="lastName"
                                                                       id="lastName" th:value="${user.getLastName()}"
                                                                       th:placeholder="${user.lastName}">
                                                            </div>
                                                            <div class="form-group">
                                                                <p class="text-center"><b><label for="first_name2">Age</label></b></p>
                                                                <input type="number" class="form-control" name="age"
                                                                       id="age" th:value="${user.getAge()}"
                                                                       th:placeholder="${user.getAge()}">
                                                            </div>
                                                            <div class="form-group">
                                                                <p class="text-center"><b><label for="first_name2">Username</label></b></p>
                                                                <input type="text" class="form-control" name="username"
                                                                       id="username" th:value="${user.getUsername()}"
                                                                       th:placeholder="${user.username}">
                                                            </div>
                                                            <div class="form-group">
                                                                <p class="text-center"><b><label for="first_name2">Email</label></b></p>
                                                                <input type="text" class="form-control" name="email"
                                                                       id="email" th:value="${user.getEmail()}"
                                                                       th:placeholder="${user.email}">
                                                            </div>

                                                            <div class="form-group">
                                                                <p class="text-center"><b><label for="first_name2">Password</label></b></p>
                                                                <input type="text" class="form-control" name="password"
                                                                       id="password" th:value="${user.getPassword()}"
                                                                       th:placeholder="${user.password}">
                                                            </div>
                                                            <div class="form-group">
                                                                <p class="text-center"><b><label for="first_name2">Role</label></b></p>
                                                                <select th:name="rol" multiple class="form-control"
                                                                        id="roleSelection1">
                                                                    <option th:each="role:${roles}"
                                                                            th:text="${role.name}" th:id="rol"
                                                                            th:name="rol" th:value="${role.id}">1
                                                                    </option>
                                                                </select>

                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                        data-dismiss="modal">Close
                                                                </button>
                                                                <form th:method="PATCH">
                                                                    <button name="button" class="btn btn-primary"
                                                                            type="submit">Edit
                                                                    </button>
                                                                </form>
                                                            </div>
                                                        </form>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>

                                    </td>
                                    <td>
                                        <!-- DELETE User -->
                                        <button type="button" class="btn btn-danger" data-toggle="modal"
                                                th:data-target="${'#ModalDelete' + user.id}" data-whatever="@userID">
                                            Delete
                                        </button>
                                        <div class="modal fade" th:id="${'ModalDelete' + user.id}" tabindex="-1"
                                             aria-labelledby="exampleModalLabel1" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel1">Edit user</h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form th:method="DELETE"
                                                              th:action="@{/admin/delete/(id=${user.getId()})}"
                                                              th:object="${edit_user}">
                                                            <div class="form-group">
                                                                <p class="text-center"><b><label for="first_name2">ID</label></b></p>
                                                                <input type="number" class="form-control" name="id"
                                                                       id="id1" th:placeholder="${user.id}" readonly>
                                                            </div>
                                                            <div class="form-group">
                                                                <p class="text-center"><b><label for="first_name2">First name</label></b></p>
                                                                <input type="text" class="form-control"
                                                                       name="first_name" id="first_name1"
                                                                       th:placeholder="${user.firstName}" readonly>
                                                            </div>
                                                            <div class="form-group">
                                                                <p class="text-center"><b><label for="first_name2">Last name</label></b></p>
                                                                <input type="text" class="form-control"
                                                                       name="first_name" id="last_name1"
                                                                       th:placeholder="${user.firstName}" readonly>
                                                            </div>
                                                            <div class="form-group">
                                                                <p class="text-center"><b><label for="first_name2">Username</label></b></p>
                                                                <input type="text" class="form-control" name="last_name"
                                                                       id="username1" th:placeholder="${user.username}"
                                                                       readonly>
                                                            </div>
                                                            <div class="form-group">
                                                                <p class="text-center"><b><label for="first_name2">Age</label></b></p>
                                                                <input type="number" class="form-control" name="age"
                                                                       id="age1" th:placeholder="${user.getAge()}"
                                                                       readonly>
                                                            </div>
                                                            <div class="form-group">
                                                                <p class="text-center"><b><label for="first_name2">Email</label></b></p>
                                                                <input type="text" class="form-control" name="email"
                                                                       id="email1" th:placeholder="${user.email}"
                                                                       readonly>
                                                            </div>
                                                            <div class="form-group">
                                                                <p class="text-center"><b><label for="first_name2">Password</label></b></p>
                                                                <input type="text" class="form-control" name="password"
                                                                       id="password1" th:placeholder="${user.password}"
                                                                       readonly>
                                                            </div>
                                                            <div class="form-group">
                                                                <p class="text-center"><b><label for="first_name2">Role</label></b></p>
                                                                <select th:name="rol" multiple class="form-control"
                                                                        id="roleSelection2" disabled>
                                                                    <option th:each="role:${roles}"
                                                                            th:text="${role.name}">1
                                                                    </option>
                                                                </select>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                        data-dismiss="modal">Close
                                                                </button>
                                                                <form th:method="DELETE">
                                                                    <button name="button" class="btn btn-danger"
                                                                            type="submit">Delete
                                                                    </button>
                                                                </form>
                                                            </div>
                                                        </form>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </div>
                            </tbody>
                        </table>
                    </div>

                    <!-- New User -->
                    <div class="tab-pane fade border" id="profile" role="tabpanel" aria-labelledby="profile-tab">

                        <p><h4>Add new user</h4></p>
                        <div class="col-md-8 mx-auto w-25 p-3 ">
                            <form th:method="POST" th:action="@{admin/saveUser}" th:object="${new_user}">
                                <div class="form-group">
                                    <p class="text-center"><b><label for="first_name2">First name</label></b></p>
                                    <input type="text" class="form-control" id="first_name2" th:field="*{firstName}"
                                           placeholder="First name">
                                </div>
                                <div class="form-group">
                                    <p class="text-center"><b><label for="first_name2">Last name</label></b></p>
                                    <input type="text" class="form-control" id="last_name2" th:field="*{lastName}"
                                           placeholder="Last name">
                                </div>
                                <div class="form-group">
                                    <p class="text-center"><b><label for="first_name2">Age</label></b></p>
                                    <input type="number" class="form-control" id="age2" th:field="*{age}"
                                           placeholder="Age">
                                </div>
                                <div class="form-group">
                                    <p class="text-center"><b><label for="first_name2">Username</label></b></p>
                                    <input type="text" class="form-control" id="username2" th:field="*{username}"
                                           placeholder="Username">
                                </div>
                                <div class="form-group">
                                    <p class="text-center"><b><label for="first_name2">Email</label></b></p>
                                    <input type="text" class="form-control" id="email2" th:field="*{email}"
                                           placeholder="Email">
                                </div>

                                <div class="form-group">
                                    <p class="text-center"><b><label for="first_name2">Password</label></b></p>
                                    <input type="text" class="form-control" id="password2" th:field="*{password}"
                                           placeholder="Password">
                                </div>
                                <div class="form-group">
                                    <p class="text-center"><b><label for="first_name2">Role</label></b></p>
                                    <select th:name="rol" multiple class="form-control" id="roleSelection">
                                        <option th:each="role:${roles}" th:text="${role.getName()}" th:name="rol"
                                                th:value="${role.getId()}">1
                                        </option>
                                    </select>
                                </div>
                                <div class="w-50 mx-auto" sec:authorize="hasRole('ADMIN')">
                                    <form th:action="@{/admin/saveUser}" method="GET">
                                        <button type="submit" class="btn btn-success">Add new user</button>
                                    </form>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>

            </div>
            <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">

                <p>
                <h1>User information-page</h1></p>
                <!-- About User page -->
                <p><h4>About User</h4></p>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Username</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Age</th>
                        <th scope="col">Email</th>
                        <th scope="col">Role</th>
                    </tr>
                    </thead>
                    <tbody>
                    <div th:object="${user}">
                        <tr>
                            <th scope="row"><span th:text="${user.getId()}">id</span></th>
                            <td><span th:text="${user.getUsername()}">Username</span></td>
                            <td><span th:text="${user.getFirstName()}">First Name</span></td>
                            <td><span th:text="${user.getLastName()}">Last Name</span></td>
                            <td><span th:text="${user.getAge()}">Age</span></td>
                            <td><span th:text="${user.getEmail()}">email</span></td>
                            <td>
                                <th:block th:each="role : ${user.getRoles()}">
                                            <span th:switch="${role.getName()}">
                                             <span th:case="'ROLE_ADMIN'">ADMIN</span>
                                               <span th:case="'ROLE_USER'">USER</span>
                                                <span th:case="'ROLE_MANAGER'">MANAGER</span>
                                                    </span>
                                </th:block>
                            </td>
                        </tr>
                    </div>


                    </tbody>
                    </tr>
                </table>
            </div>

        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>