<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>User info</h2>
<br>
<form th:method="POST" th:action="@{/admin/saveUser}" th:object="${user}">
    <input type="hidden" th:field="*{id}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{username}" id="name"/>
    <label for="name">Enter password: </label>
    <input type="text" th:field="*{password}" id="password"/>
    <label for="name">Enter email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <label for="name">Enter role (id, where 1-User, 2-Admin, 3-Manager): </label>
    <input type="text" th:field="*{roles}" id="role"/>
    <br/>
    <input type="submit" value="OK"/>
</form>
<input type="button" value="Logout" onclick="window.location.href = '/logout'" >

</body>
</html>